<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= food.name %></h1>
    <form action="/food/<%=food._id%>?_method=PUT" method="POST"></form>
        <label for="name">FoodName:</label>
        <input type="text" name="name" value="<%= food.name %>" />
    
        <label for="Discription">Discription:</label>
        <input type="text" name="Discription" id="Discription" />

        <label for="Cuisine">cuisine:</label>
        <input type="text" name="cuisine" id="cuisine" />
    
        <button type="submit">Update Food</button>

        <a href="/food/">Back to Food</a>
      </form>
</body>
</html>